<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Vue</title>
</head>
<body>
    
    
    <div id="app">
        <!-- “Mustache” syntax  -->
        {{ message }} <br>  
        <input type="text" v-model="message">
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>
        var app = new Vue({ 
            el: '#app', // id of the traget element to render vue
            data: { //Where your properties found
                message: 'Hi Dani!'
            },
            /*
            * when initiallizing an options property or callback 
            * don't used arrow function (ex created=>(){})
            * Because arrow functions are bound to the parent context
            */
            beforeCreate: function(){
                console.log("I'm beforeCreate function");
                
                // add activities you want before creating vue instance
            },
            created: function(){
                console.log("I'm created function");
                // instance is already created
            },
            //action to render template
            beforeMount: function(){
                console.log("I'm beforeMount function");
                // before applying the template to the view    
            },
            mounted: function(){
                console.log("I'm mounted function");
                // when the template is already in the view
            },
            //will standby for any updates and changes in the instance
            beforeUpdate:function(){
                console.log("I'm beforeUpdate function");
                // called before initializing new updates
            },
            updated: function(){
                console.log("I'm updated function");
                //called when the updates are added
            },
            beforeDestroy: function(){
                console.log("I'm beforeDestroy function");
                // called before the destroying of instance
            },
            destroyed: function(){
                console.log("I'm destroyed function");
                // called when everything is destroyed
            }
        }) // new vue instance
    </script>
</body>
</html>